{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/plants_forms.css' %}"/>
{% endblock %}
{% block content %}

<div class="form-page">
  {% if object %}
    <h1 class="form-title">Edit {{ object.name }}</h1>
    <form class="form-container" action="{% url 'edit_plant' object.id %}" method="POST">
      {% csrf_token %}
      <div class="form-fields">
        {{ form.as_p }}
      </div>
      <button class="form-submit-btn" type="submit">Submit</button>
    </form>
  {% else %}
    <h1 class="form-title">Create a Plant</h1>
    <form class="form-container" action="{% url 'add_plant' %}" method="POST">
      {% csrf_token %}
      <div class="form-fields">
        {{ plant_form.as_p }}
      </div>
      <button class="form-submit-btn" type="submit">Submit</button>
    </form>
  {% endif %}
</div>

{% endblock %}
