{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/nurseries/nurseries-index.css' %}"/>
{% endblock %} 

{% block content %}


<section class="card-container">
  {% for nurserie in nurseries %}
    <div class="card">
      <a href="/nurseries/{{ nurserie.id }}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{{ nurserie.file }}"
            alt="nurserie"
            class="card-img"
          />
        </div>
        <h2 class="card-title">{{ nurserie.category }}</h2>
      </div>
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
