{% extends 'base.html' %} 
{% block content %}
<h1>About Grow Green</h1>
<hr />
<p class="page-content">
    Discover the Grow Green app, your ultimate companion in plant care management. 
    Tailored for nurseries cultivating trees, vegetables, and ornamentals,  
    Grow Green empowers farmers to effortlessly track plant health essentials like irrigation, 
    fertilization, and pest control. Managers can oversee updates, handle product requests, 
    and facilitate seamless communication between farmers and management. 
    Simplify plant care with Grow Green and watch your greenery thrive like never before.
</p>
{% endblock %}