{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}"/>
{% endblock %} 
{% block content %}

<div class="about-section">
    <div class="about-header">
        <h1 class="about-title">About <span class="highlight">Grow Green</span></h1>
        <div class="about-divider"></div>
    </div>
    <p class="about-description">
        <span class="accent-text">Grow Green</span> is your ultimate solution for plant care management. 
        Specifically designed for nurseries nurturing trees, vegetables, and ornamental plants, 
        our platform empowers farmers to seamlessly monitor essential plant health aspects like 
        irrigation, fertilization, and pest control. 
        <br /><br />
        With <span class="accent-text">Grow Green</span>, managers can simplify operations, 
        process product requests efficiently, and enable effective communication with farmers. 
        Embrace innovation in plant care with <span class="highlight">Grow Green</span> and 
        cultivate thriving greenery like never before.
    </p>
</div>
{% endblock %}