{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}

  <div class="growgreen-container">
    <section class="growgreen-logo-section">
      <div class="growgreen-logo-container">
        <img src="{% static 'images/growGreenLogo.svg' %}" alt="The Grow Green Logo" class="growgreen-logo" />
      </div>
    </section>
  
    <section class="growgreen-login-section">
      <form action="{% url 'home' %}" method="post" class="growgreen-login-form">
        <h1 class="growgreen-login-header">Welcome Back</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="growgreen-login-button">Login</button>
      </form>
    </section>
  </div>
  
{% endblock %}
