* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7; 
    color: #333; 
    line-height: 1.6;
  }
  header {
    background-color: #e8f5e9;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .header-logo-container a {
    display: block;
  }
  
  .header-logo-container img {
    max-height: 50px; 
    width: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #054d3b;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #799e29; 
  }

  main {
    padding: 35px 35px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #054d3b;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 22px;
  }
  

  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    .header-logo-container img {
      max-height: 40px; 
    }
  
    nav ul {
      flex-direction: column;
      gap: 10px;
      margin-top: 15px;
      justify-content: flex-end;
    }
  
    nav ul li a {
      font-size: 1.1rem;
    }
  }
  