{% extends 'base.html' %}

{% block content %}
  <h1>Request Product: {{ product.name }}</h1>
  {% if role == "farmer"%}
  <form method="POST">
    {% csrf_token %}
    <label for="farmer_name">Farmer Name:</label>
    <input type="text" name="farmer_name" required><br>

    <label for="quantity">Quantity Requested:</label>
    <input type="number" name="quantity" required><br>

    <label for="status">Status:</label>
    <select name="status" required>
      <option value="pending">Pending</option>
    </select><br>

    <button type="submit">Submit Request</button>
  </form>
  {% endif %}
  
  {% if product_requests %}
    <table>
      <thead>
        <tr>
          <th>Farmer Name</th>
          <th>Quantity Requested</th>
          <th>Status</th>
          {% if role == "storeController"%}
          <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for request in product_requests %}
          <tr>
            <td>{{ request.farmer_name }}</td>
            <td>{{ request.quantity_requested }}</td>
            <td>{{ request.status }}</td>
            {% if role == "farmer"%}
            <td>
              <a href="{% url 'product-request-edit' request.id %}">Edit</a> 
              <a href="{% url 'product-request-delete' request.id %}">Delete</a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No requests yet for this product.</p>
  {% endif %}
{% endblock %}
